*.xml
*.iml
.idea/*
.idea/*.xml
.idea/*.iml
.idea/inspectionProfiles/*.xml
.idea/inspectionProfiles/*.iml
.idea/scopes/*.xml
.idea/scopes/*.iml
minixfs.img
minixfs_lab1.img
.idea/
__pycache__
*.pyc
m.img
ftp_mqtt
HOST
client.py
ftp_mqtt.py